html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #edf6fc;
    background-image: linear-gradient(180deg, #408bb6 0%, #3c42a6 100%);
    height: 100vh;
}

/* HEADER */

header {
    padding: 2em;
    margin: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #edf6fc;
    border-radius: 15px;
    box-shadow: 5px 5px #edf6fc2a;
    width: 80%;
    max-width: 900px;
    max-height: 250px;
    flex: 1;
    align-self: center;
}

.header-logo span {
    font-size: 42px;
    font-weight: 500;
    display: block;
}

.game-status-container {
    border: 2px solid #edf6fc;
    border-radius: 5px;
    width: 30%;
    height: 50%;
    display: flex;
    padding: 2em;
    align-items: center;
}

#game-status{
    font-size: 25px;
    font-weight: 600;
}

.scores-container {
    border: 2px solid #edf6fc;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    width: 20%;
    min-width: 350px;
    max-width: 500px;
    gap: 2em;
}

.score-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    width: 50%;
}

.score-box p{
    font-size: 18px;
    font-weight: 600;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.buttons-container {
    width: 60%;
    max-width: 450px;
    aspect-ratio: 1/1;
    margin: 20px auto;
    position: relative;
    border-radius: 10%;
}

.buttons-container.disabled {
    filter: blur(2px);
}

.button {
    width: 40%;
    aspect-ratio: 1/1;
    user-select: none;
    position: absolute;
    background: transparent;
    border: none;
    border-radius: 100%;
    padding: 0;
    transition: all .09s ease;
    box-shadow: 7px 10px 62px -18px rgba(0,0,0,0.75);
}

.button img {
    width: 100%;
    aspect-ratio: 1/1;
}

.button-rock {
    top: 0;
    left: 0;
    transform: translate(10%, 10%);
}

.button-rock.hover:hover {
    transform: translate(10%, 10%) scale(1.1);
}

.button-paper {
    top: 0;
    right: 0;
    transform: translate(-10%, 10%);
}

.button-paper.hover:hover {
    transform: translate(-10%, 10%) scale(1.1);
}

.button-scissors {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -10%);
}

.button-scissors.hover:hover {
    transform: translate(-50%, -10%) scale(1.1);
}

/* FOOTER */

footer {
    padding: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}