html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* HEADER */

header {
    padding: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7fb944;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.scores-container {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.score-box {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    width: 30%;
}

.buttons-container {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    max-width: 500px;
    margin: 20px auto;
}

.button {
    padding: 3em;
}

/* FOOTER */

footer {
    padding: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7fb944;
}