html {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #edf6fc;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(180deg, #408bb6 0%, #3c42a6 100%);
}

/* HEADER */

header {
    padding: 2em;
    margin: 3em auto;
    width: 80%;
    height: 20%;
    min-height: 200px;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #edf6fc;
    border-radius: 15px;
    box-shadow: 5px 5px #edf6fc2a;
}

.logo {
    width: 20%;
    height: 80%;
}

.logo span {
    font-size: 2em;
    font-weight: 500;
    display: block;
}

.game-status-container {
    padding: 2em;
    width: 40%;
    height: 50%;
    display: flex;
    align-items: center;
    border: 2px solid #edf6fc;
    border-radius: 5px;
}

#game-status{
    font-size: 2em;
    font-weight: 600;
}

.scores-container {
    border: 2px solid #edf6fc;
    border-radius: 5px;
    display: flex;
    width: 30%;
    height: 100%;
}

.score-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin: auto;
    width: 50%;
}

.score-box p{
    font-size: 1em;
    font-weight: 600;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.buttons-container {
    margin: 20px auto;
    height: 50vh;
    max-height: 500px;
    aspect-ratio: 1/1;
    position: relative;
    border-radius: 10%;
}

.buttons-container.disabled {
    filter: blur(2px);
}

.button {
    padding: 0;
    width: 40%;
    aspect-ratio: 1/1;
    user-select: none;
    position: absolute;
    background: transparent;
    border: none;
    border-radius: 100%;
    transition: all .09s ease;
    box-shadow: 7px 10px 62px -18px rgba(0,0,0,0.75);
}

.button img {
    width: 100%;
    aspect-ratio: 1/1;
}

.button-rock {
    top: 0;
    left: 0;
    transform: translate(10%, 10%);
}

.button-rock.hover:hover {
    transform: translate(10%, 10%) scale(1.1);
}

.button-paper {
    top: 0;
    right: 0;
    transform: translate(-10%, 10%);
}

.button-paper.hover:hover {
    transform: translate(-10%, 10%) scale(1.1);
}

.button-scissors {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -10%);
}

.button-scissors.hover:hover {
    transform: translate(-50%, -10%) scale(1.1);
}

.new-game {
    width: 200px;
    height: 50px;
    margin: 40px auto;
    font-size: 2em;
    font-weight: 500;
    background: transparent;
    color: #edf6fc;
    border: 2px solid #edf6fc;
    border-radius: 7px;
    display: none;
}

/* FOOTER */

footer {
    padding: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}